<main class="opinions-main">
  <div class="main-body">

    <h1>Editing Opinion</h1>

    <%= render 'editform', opinion: @opinion %>

    <%= link_to 'Show', @opinion %> |
    <%= link_to 'Back', opinions_path %>

  </div>
</main>