<main class="user-main">
  <div class="coverimage">
    <%= image_tag(user_coverimage(@user), alt: "", class: 'full_width') %>
  </div>
  <%= draw_user_main_menu %>
  <div class="main-body">

    <%= draw_user_page %>

  </div>
</main>
