$nav-selected-bcolor: rgb(59, 66, 63);
$borders-color: #eee;
$header-bcolor: rgb(58, 162, 236);
$main-bcolor: rgb(245, 246, 248);
$light-text-color: #999;

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden;
  
}

body {
  background-color: #fff;
  color: #333;
  margin: 0;
  height: 100%;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

#desktop {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "nav head head"
                       "nav main rside";
  grid-template-rows: 60px calc(100% - 60px);
  grid-template-columns: 200px 1fr 250px;
  background-color:$main-bcolor;
}

#desktop > header {
  grid-area: head;
  background-color: $header-bcolor;
  padding: 15px 0 15px 20px;
  position: sticky;
  top: 0;
  
  .buttons {
    width: 200px;
    height: 30px;
    // background-color: #fff;
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

#desktop > nav {
  grid-area: nav;
  background-color:rgb(30, 50, 72);
  display: flex;
  flex-direction: column;
  color: #ddd;
  overflow: auto;
  

  .current-user-banner {
    height: 110px;
    display: flex;
    flex-direction: column;

    .current-user-banner-top {
      height: 60px;
      width: 100%;
      
      display: flex;
      flex-direction: row;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 1px;
        }
      }
      a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: left;
        text-decoration: none;
        text-transform: uppercase;

        label {
          margin-left: 10px;
          cursor: pointer;
        }
      }
      a:hover {
        background-color: $header-bcolor;

        img {
          background-color: white;
          border-radius: 50%;
        }
      }

      a:visited {
        color: #ddd;
      }
    }

    .current-user-banner-bottom {
      display: flex;
      height: 50px;

      div {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        label {
          font-size: x-small;
          display: block;
          text-align: center;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
  
  .nav-menu {
    display: flex;
    flex-direction: column;

    .nav-item {
      height: 40px;
      flex: 1;
      display: flex;
      justify-items: left;

      a {
        flex: 1;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 30px;
        background-color: transparent;
        color: #ddd;
        justify-content: left;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
      }

      a:visited {
        color: #ddd;
      }
    }

    .nav-selected {
      background-color: $header-bcolor;
    }

    .nav-item:hover {
      background-color: $header-bcolor;
    }
  }

}

.nav-item-image {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.nav-item-label {
  cursor: pointer;
}

.sidebar {
  grid-area: rside;
  border-left: 2px solid $borders-color;
  display: grid;


  
}

.sidebar-to-follow {
  grid-template-areas: "mainmenu"
                       "mainbody";
  grid-template-rows: 50px calc(100% - 50px);
  grid-template-columns: 1fr;

  header {
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-items: space-between;
    padding: 0 15px;
    
    label {
      flex: 1;
      color: #777;
    }

    img {
      width: 16px;
      height: 16px;
      float: right;
    }
  }
  
}

.sidebar-user {
  grid-template-areas: "photo"
                       "info"
                       "caption"
                       "mainbody";
  grid-template-rows: 150px 50px 50px calc(100% - 240px);
  grid-template-columns: 1fr;

  .photo-banner {
    grid-area: photo;
    border-bottom: 1px solid $borders-color;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .plus {
      margin: 0 10px;
      width: 30px;
      height: 30px;
      // background-color: rgb(58, 162, 236);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $light-text-color;
      border-radius: 50%;

      a,
      div {
        height: 100%;
        // background-color: wheat;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .plus:hover {
      border-color: $header-bcolor;
    }

    .photo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .info {
    grid-area: info;
    border-bottom: 1px solid $borders-color;
    display: flex;

    .info-item {
      font-size: small;
      padding: 20px 0;
      flex: 1;
      border-left: 1px solid $borders-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      :first-child {
        font-weight: bold;
      }

      span {
        // background-color: rgb(58, 162, 236);
      }
    }

  }

  .caption {
    grid-area: caption;
    padding-left: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $borders-color;

    label {
      // background-color: lemonchiffon;
      font-weight: bold;
      color: $light-text-color;
    }
  }
  .sidebar-list {
    grid-area: mainbody;
  }
}

main {
  grid-area: main;
  height: 100%;
  overflow: hidden;
  display: grid;


  .main-body {
    grid-area: mainbody;
    height: 100%;
    overflow: auto;
    
  }
}

.main-menu {
  grid-area: mainmenu;
  border-bottom: 2px solid $borders-color;
  display: flex;
  justify-content: right;

  .main-menu-item {
    
    width: 100px;
    flex-shrink: 1;
    a {
      display: flex;
      width: 100%;
      height: 100%;
      color: $light-text-color;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .selected {
    border-bottom: 2px solid $header-bcolor;

    a {
      color: $header-bcolor;
    }
  }

  .main-menu-item:hover {
    border-bottom: 2px solid $header-bcolor;
    a { 
      color: $header-bcolor;
    }
  }

  .flr {
    float: right;
  }
}

#desktop > .opinions-main {
  grid-template-areas: "mainmenu"
                       "mainbody";
  grid-template-rows: 50px calc(100% - 50px);
  grid-template-columns: 1fr;
}

#desktop > .user-main {
  grid-template-areas: "coverimage"
                       "mainmenu"
                       "mainbody";
  grid-template-rows: 200px 50px calc(100% - 250px);
  grid-template-columns: 1fr;

  .coverimage {
    grid-area: coverimage;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .image {
      width: 100%;
      // height: 100%;
    }
  }

}


#desktop > .users-main {
  grid-template-areas: "mainmenu"
                       "mainbody";
  grid-template-rows: 50px calc(100% - 50px);
  grid-template-columns: 1fr;

  .main-menu-item {
    width: 140px;
  }

}

#desktop > .new-user-main {
  grid-template-areas: "mainbody";
  grid-template-rows: 100%;
  grid-template-columns: 1fr;

  // background-color: blue;
  // border: 1px solid red;
}

#desktop::-webkit-scrollbar,
#desktop > nav::-webkit-scrollbar,
#desktop > main > div::-webkit-scrollbar,
#desktop > .sidebar > .sidebar-list::-webkit-scrollbar {
  display: none;
}

#desktop,
#desktop > nav,
#desktop > main > div,
#desktop > .sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.banners-list,
.new-opinion,
.opinions {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 6px;
  border: 1px solid $borders-color;
  
}
.new-opinion-1 {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 6px;
  border: 1px solid $borders-color;

  textarea {
    width: 100%;
    height: 200px;
  }

}
.new-opinion {

  label {
    text-transform: uppercase;
    color: $light-text-color;
    margin: 0 0 8px 8px;
    font-weight: bold;
  }

  input[type="text"] {
    
    border: 1px solid $borders-color;
    outline: none;
    padding: 10px;
    display: block;
    width: 100%;
    font-size: medium;
  }

  input[type="submit"] {
    visibility: hidden;
    display: none;
  }

  textarea {
    width: 100%;
    height: 200px;
  }

}

.full_size {
  width: 100%;
  height: 100%;
}

.half_size {
  width: 50%;
  height: 50%;
}

.full_width {
  width: 100%;
}

.banners-list {

  .caption {
    color: $header-bcolor;
    text-transform: uppercase;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid $borders-color;
    font-weight: bold;
  }

  .banner {
    display: flex;
    margin: 10px 0;

    .image {
      width: 60px;
      height: 60px;
      margin-right: 20px;
      border-radius: 4px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .details {
      // background-color: khaki;
      flex: 3;
      p {
        margin: 0;
      }
      
      a {
        text-decoration: none;
        color: inherit;
      }
      
      a:hover {
        color: black;
      }

      .head {
        font-weight: bold;




      }
    }

    .users-index-info {
      // background-color: lemonchiffon;
      flex: 0.8;
      text-align: right;
      color: $header-bcolor;
    }
  }
}



.opinions {
  label {
    color: $header-bcolor;
    text-transform: uppercase;
    // margin-left: 10px;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid $borders-color;
    font-weight: bold;
  }

  .opinion {
    display: flex;
    margin: 10px 0;

    .image {
      width: 60px;
      height: 60px;
      margin-right: 20px;
      border-radius: 4px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .opinion-details {
      flex: 1;

      p {
        margin: 0;
      }

      .author {
        font-weight: bold;
      }
    }
  }
}

.form-div {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  height: 100%;
  // border: 20px solid transparent;
  padding: 30px;
  // overflow: auto;

  * {
    font-size: medium;
  }

  h1 {
    font-size: x-large;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid $borders-color;
    padding-bottom: 16px;
    color: $header-bcolor;
    font-weight: normal;
  }

  form {
    // margin: 0;
    
    border: none;
    // margin: 30px;
    height: 100%;
    // background-color: $header-bcolor;
  }

  .field {
    margin-bottom: 30px;
  }

  label {
    margin: 4px;
    color: $header-bcolor;
  }

  input[type="text"],
  input[type="submit"] {
    padding: 10px;
    border: 1px solid $borders-color;
    border-radius: 4px;
    width: 100%;
  }

  input[type="submit"] {
    background-color: $header-bcolor;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
  }

  input[type="submit"]:hover {
    color: black;
  }

  input[type="submit"]:active {
    color: #ccc;
  }

  .file-label {
    cursor: pointer;
    display: inline-block;
  }

  .upload-photo {
    // opacity: 0; 
    // position: absolute;
    // z-index: -1;
    // display: inline-block;
    float: right;
  }

  .bb {
    padding-bottom: 4px;
    border-bottom: 2px solid $borders-color;
  }

  input[type="file"] {
    // font-size: medium;
    padding: 4px;
    border: none;
    // background-color: $borders-color;
  }
  // .inline-field {
  //   // display: inline-block;
  // }

  // .photo-div {
  //   display: inline-block;
  //   width: 200px;
  //   height: 200px;
  //   background-color: $borders-color;

  //   image {
  //     width: 100%;
  //   }

  // }

}

.user-details-outer {
  // background-color: white;
  // border-radius: 6px;
  display: flex;
  width: 100%;
  height: 20vw;
  padding: 10px;

  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // background-color: silver;;
    flex: 1;

    padding: 2vw;


    div {
      flex: 1;

      p {
        font-size: large;
        padding: 0;
        margin: 0 0 4px 0;
      }

      :first-child {
        border-bottom: 1px solid $borders-color;
        color: $header-bcolor;
      }
    }
  }

  .user-photo {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .image {
      width: 100%;
      // height: 100%;
    }
  }



}

.m30 {
  margin: 30px;
}

.g-link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  font-size: medium;
  text-transform: uppercase;
  background-color: $header-bcolor;
  color: white;
  border-radius: 4px;
}

.g-link:hover {
  color: black;
}

.g-link:active {
  color: #ccc;
}

.round {
  border-radius: 50%;
}

.sidebar-list {
  padding: 20px 15px;
  overflow: auto;

  .banner {
    display: flex;
    padding-bottom: 15px;
    // margin: 10px 0;
    

    .image {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .details {
      flex: 1;
      p {
        margin: 0;
      }
      .head {
        font-weight: bold;
      }
    }
  }
  
  .plus {
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $light-text-color;
    border-radius: 50%;

    a,
    div {
      height: 100%;
      // background-color: wheat;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .plus:hover {
    border-color: $header-bcolor;
    background-color: #ddd;
  }
}

.half_opacity {
  opacity: 30%;
}

.cursor-none {
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {
  #desktop {
    grid-template-areas: "head head"
                         "nav nav"
                         "main main"
                         "rside rside";
    grid-template-rows: 70px 100px auto auto;
    grid-template-columns: 1fr;

    overflow: auto;

    nav {
      // padding: 4px 0;
    }
  }

  #desktop > .sidebar {
    // border-left: none;
    // border-bottom: 2px solid #eee;
  }

  #desktop > nav {
    // flex-direction: row;

    .current-user-banner {
      flex-direction: row;
      height: 50px;
      // width: 250px;
      // flex: 1;
      .current-user-banner-top {
        flex: 1;
        height: 100%;
      }
      .current-user-banner-bottom {
        height: 100%;
        flex: 1;
        // visibility: hidden;
        // display: none;
      }
    }

    .nav-menu {
      flex-direction: row;
      flex: auto;
      flex-direction: row;
      height: 50px;

      .nav-item {
        flex: 1;
        height: 100%;

        a {
          justify-content: center;
          padding: 0;
          // flex-direction: column;

          .nav-item-image {
            // margin: 0 0 4px 0;
          }
        }
      }

    }


  }

  .user-details {
    flex-direction: row;
  }
}

.like-span {
  font-size: medium;
  margin-right: 10px;
  margin-bottom: 4px;
  
}
.like-div {
  float: right;
  width: 60px;
  // background-color: rgb(171, 190, 228);
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-label {
  display: inline-block;
  width: 20px;
  text-align: right;
}
